.header {
  width: 100%;
  height: 130px;
  background-color: #40744e;
  display: flex;
  align-items: center;
}
.header_container {
  padding: 17px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header_logo {
  color: #ffffff;
  font-size: 24px;
  margin: 0;
}
.header_label {
  background-color: inherit;
  border: none;
  font-size: 30px;
  transition: all 0.5s linear;
  display: inline-block;
}
.header_menu {
  position: relative;
}
#menu {
  display: none;
}
#menu:checked + .header_menu_button + .header_menu_list {
  display: block;
}
.header_menu_list {
  list-style-type: none;
  min-width: 100px;
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.header_menu_item {
  padding: 8px 12px;
}
.header_menu_item:hover {
  cursor: pointer;
  background-color: rgb(216, 216, 216);
}
.header_menu_button {
  font-size: 24px;
  color: #ffffff;
}
.header_menu_button:hover {
  cursor: pointer;
}
.header_praviteli_item {
  padding: 8px 12px;
}
.header_praviteli_list {
  list-style-type: none;
  min-width: 100px;
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  top: 30px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.header_praviteli {
  position: relative;
}
.header_praviteli_button {
  font-size: 24px;
  color: #ffffff;
}
#praviteli {
  display: none;
}
#praviteli:checked + .header_praviteli_button + .header_praviteli_list {
  display: block;
}
.header_praviteli_item:hover {
  cursor: pointer;
  background-color: rgb(216, 216, 216);
}
.header_praviteli_button:hover {
  cursor: pointer;
}
.main {
  width: 100%;
  background-color: #a4b0a3;
  min-height: 7000px;
}
.main_title {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 590px;
  background-image: url(./img/image\ 1.png);
  display: flex;
  justify-content: center;
}
.main_title_container {
  width: 902px;
  height: 156px;
  background-color: #866527a4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_title_text {
  margin: 0;
  font-size: 48px;
  font-weight: 800;
  color: #472507;
  text-align: center;
}
.main_info {
  width: 100%;
  display: flex;
  justify-content: center;
}
.main_info_container {
  width: 1250px;
}
.main_text {
  font-size: 30px;
  margin-top: 75px;
  margin-bottom: 75px;
}
.main_img {
  width: 100%;
}
.main_praviteli {
  width: 100%;
  display: flex;
  justify-content: center;
}
.main_praviteli_img {
  width: 288px;
  height: 288px;
  object-fit: cover;
}
.main_praviteli_container {
  margin: 78px auto 0;
  width: 1250px;
  padding: 0 133px 0;
  box-sizing: border-box;
}
.main_praviteli_general {
  display: flex;
  flex-direction: row;
  background-color: beige;
}
.main_praviteli_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}
.main_praviteli_name {
  font-size: 48px;
  font-weight: 700;
  margin: 0;
}
.main_praviteli_info {
  font-size: 24px;
  font-weight: 600;
}
.main_praviteli_biography {
  font-size: 24px;
  font-weight: 500;
  list-style-type: disc;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main_praviteli_header {
  font-weight: 600;
  font-size: 24px;
}
.main_praviteli_divider {
  width: 100%;
  height: 32px;
  background-color: #7a7a7a;
  margin-top: 62px;
  margin-bottom: 62px;
}
.monument_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  gap: 25px;
  align-items: center;
}
.monument_img {
  max-width: 450px;
  height: 350px;
  object-fit: contain;
}
.monument_text {
  font-size: 18px;
}
.main_praviteli_section_header {
  margin: 0;
  font-size: 30px;
  margin-bottom: 24px;
}
.monument_divider{
  width: 100%;
  height:20px;
}